@use '../../../assets/styles/internals/index';

.wrapper {
  & > .container {
    padding-top: 5.8rem;

    @media (min-width: 1440px) {
      position: relative;

      border: 0.1rem solid $grey-c7c;
      border-top: none;
      border-bottom: none;
      padding-top: 17.4rem;

      &:before {
        content: '';
        position: absolute;

        top: 0;
        left: 50%;
        bottom: 0;

        width: 0.1rem;
        height: 100%;

        background-color: $grey-425;
        opacity: 0.1;
      }

      &:after {
        content: '';
        position: absolute;

        top: 46%;
        left: 0;
        right: 0;

        height: 0.1rem;
        width: 100%;

        background-color: $grey-425;
        opacity: 0.1;
      }
    }
  }
}

.circle {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 5.7rem;

  @media (min-width: 1440px) {
    position: relative;

    margin-bottom: 7.8rem;

    &:before {
      content: '';
      position: absolute;
      top: 0.7rem;
      left: -8.1rem;

      width: 0.6rem;
      height: calc(100% - 1.4rem);

      background: linear-gradient(180deg, $blue-387, $pink-ef5);
    }
  }

  &__title {
    @include fontz(2rem, 1.2, $grey-425);
    font-weight: 700;

    @media (min-width: 1440px) {
      @include fontz(5.6rem, 1.196, $grey-425);
    }
  }
}

.dates {
  display: flex;
  justify-content: flex-start;
  column-gap: 2.6rem;
  margin-bottom: 5.5rem;

  @include fontz(5.6rem, 1.321, $grey-425);
  letter-spacing: -0.02rem;
  font-weight: 700;

  @media (min-width: 1440px) {
    justify-content: space-between;
    max-width: 103.2rem;
    width: 100%;
    padding-right: 5.9rem;
    margin: 0 auto 11.6rem;

    @include fontz(20rem, 1, $grey-425);
    letter-spacing: -0.3rem;
  }

  &__from {
    color: $blue-387;
  }

  &__to {
    color: $pink-ef5;
  }
}

.chart {
  display: none;

  @media (min-width: 1440px) {
    display: block;

    &__list {
      position: absolute;
      top: 46.4%;
      left: 50%;

      width: 53rem;
      height: 53rem;
      border-radius: 50%;
      border: 0.1rem solid $grey-425-02;

      transform: translate(-50%, -50%);
    }

    &__item {
      position: absolute;

      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;

      @include fontz(0, 1.5, $grey-425);

      background-color: $grey-425;

      &--one {
        top: 5.3%;
        left: 24.8%;
      }

      &--two {
        top: 49%;
        left: -0.7%;
      }

      &--three {
        top: 91.4%;
        left: 22.5%;
      }

      &--four {
        top: 92%;
        right: 24%;
      }

      &--five {
        top: 49%;
        right: -0.7%;
      }

      &.active {
        top: 0;
        left: 65%;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.6rem;
        height: 5.6rem;
        border: 1px solid $grey-303-80;

        font-size: 2rem;

        background-color: $grey-f4f;
      }
    }
  }
}

.navigate {
  margin-bottom: 1.3rem;

  order: 1;

  @media (min-width: 1440px) {
    margin-bottom: 3.3rem;

    order: unset;
  }

  &__wrap {
    display: flex;
    justify-content: flex-start;
    column-gap: 3.7rem;
  }

  &__count {
    margin-bottom: 0.6rem;

    line-height: 1.285;

    @media (min-width: 1440px) {
      margin-bottom: 2rem;
    }
  }
}

.btns-navigate {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;

  @media (min-width: 1440px) {
    column-gap: 2rem;
  }

  &__prev,
  &__next {
    position: relative;

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid $grey-c7c;
    opacity: 0.4;
    cursor: pointer;
    transition: $anim;

    @media (min-width: 1440px) {
      width: 5rem;
      height: 5rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;

      width: 0.5rem;
      height: 0.5rem;
      border: 0.2rem solid $grey-425;
      border-top: none;
      border-right: none;

      @media (min-width: 1440px) {
        width: 1rem;
        height: 1rem;
      }
    }

    &.active {
      opacity: 1;

      &:hover {
        border-color: $grey-425;

        background-color: $white-100;
      }
    }
  }

  &__prev:before {
    left: 54%;

    transform: translate(-50%, -50%) rotate(45deg);
  }

  &__next:before {
    left: 50%;

    transform: translate(-50%, -50%) rotate(230deg);
  }
}

.nav-points {
  display: flex;
  justify-content: space-between;
  max-width: 8.6rem;
  column-gap: 1rem;

  @media (min-width: 1440px) {
    display: none;
  }

  &__item {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;

    background-color: $grey-425;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }
}
