@use '../../../assets/styles/internals/index';

.slider {
  position: relative;

  min-height: 15.3rem;
  padding-top: 2rem;
  border-top: 0.1rem solid $grey-c7c;
  margin-bottom: 3.8rem;

  overflow: hidden;

  @media (min-width: 1440px) {
    border-top: none;

    &__prev,
    &__next {
      position: absolute;
      top: 33%;

      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 0.2rem solid transparent;

      box-shadow: 0px 0px 15px $blue-387-1a;
      cursor: pointer;
      transition: $anim;

      &:before {
        content: '';
        position: absolute;
        top: 50%;

        width: 0.8rem;
        height: 0.8rem;
        border: 0.2rem solid $blue-387;
        border-top: none;
        border-right: none;
      }

      &.active {
        display: block;

        &:hover {
          border-color: $blue-387-1a;
        }
      }
    }

    &__prev {
      &:before {
        left: 54%;

        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &__next {
      right: 2rem;

      &:before {
        right: 34%;

        transform: translate(-50%, -50%) rotate(230deg);
      }
    }
  }

  &__date {
    margin-bottom: 1.6rem;

    @include fontz(1.6rem, 1.187, $blue-387);
    font-family: 'Bebas Neue';
    text-transform: uppercase;

    @media (min-width: 1440px) {
      margin-bottom: 1.5rem;

      @include fontz(2.5rem, 1.2, $blue-387);
    }
  }

  &__wrap {
    position: relative;
    width: 100%;

    overflow: hidden;

    @media (min-width: 1440px) {
      max-width: 125rem;

      width: 32rem;
      height: 16.5rem;
    }
  }

  &__list {
    display: flex;
    column-gap: 2.5rem;

    @media (min-width: 1440px) {
      column-gap: 12rem;
    }
  }

  &__item {
    position: relative;
    position: relative;
    width: 100%;
    overflow: hidden;

    display: none;

    animation: 1.4s linear;
    background-color: red;

    @media (min-width: 1440px) {
      width: 32rem;
      height: 16.5rem;
    }

    &.active {
      display: flex;
    }
  }

  &__text {
    @media (min-width: 1440px) {
      @include fontz(2rem, 1.5, $grey-425);
    }
  }

  &__btns {
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }
  }
}

.next {
  display: flex;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.to-right {
  animation-name: right;
}

.from-right {
  animation-name: right;
  animation-direction: reverse;
}

.to-left {
  animation-name: left;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}
